.tabela {
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  table {
    width: 80%; /* Ajuste conforme necessário */
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  